/* - public.css - */
@media screen {
    /* http://datoscientificos.cl/portal_css/public.css?original=1 */
    /* */
    * { margin: 0; padding: 0; }
* :link,:visited { text-decoration:none }
* ul,ol { list-style:none; }
* li { display: inline; }
* h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }
* a img,:link img,:visited img { border:none }
a { outline: none; }
table { border-spacing: 0; }
img { vertical-align: text-bottom; }
iframe { border-width: 0; border-style:none; }
/* */
/* */
body {
    font: 100% Arial, FreeSans, sans-serif;
    background: White;
    color: Black;
/* */
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Arial, FreeSans, sans-serif;
    font-weight: bold;
    color: Black;
    line-height: 1.5em;
}
h1, h2 {
    letter-spacing: -0.05em;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.75em;
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1.25em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.8em;
}
h2, h3, h4, h5, h6 {
    color: #444;
}
h2 a, h3 a, h4 a {
    border-bottom: none !important;
}
p {
}
a:link, a:visited {
    color: #205c90;
}
a:focus img {
    outline: thin dotted;
}
dt {
    font-weight: bold;
}
input {
    font-family: "Lucida Grande", Arial, FreeSans;
}
q {
    quotes: "“" "”" "‘" "’";
}
/* */
/* */
#portal-header {
    position: relative;
    z-index: 2;
}
#portal-logo {
    display: inline-block;
    margin: 1.375em 0;
}
#portal-globalnav {
    clear: both;
    font-size: 80%;
    background: #ddd;
    /* */
    margin: 0 0 1em 0;
}
#portal-globalnav li {
}
#portal-globalnav li a {
    display: inline-block;
    padding: 0.5em 1em 2em 1em;
    background: #ddd;
    min-width: 6em;
    white-space: normal;
    border-right: 0.1em solid white;
}
#portal-globalnav .selected a,
#portal-globalnav a:hover {
    background: #205c90;
    color: White;
}
#portal-globalnav .selected a:hover {
    background: #ddd;
    color: #205c90;
}
#portal-personaltools {
    float: right;
    background: #e3e3e3;
    position: relative;
    z-index: 3; /* */
    top: 0;
    right: 0;
    padding: 0.25em 0.5em;
    font-size: 80%;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    -moz-border-radius-bottomleft: 0.5em;
    -moz-border-radius-bottomright: 0.5em;
}
#portal-personaltools #anon-personalbar a {
    float: left;
    margin-right: 0.5em;
}
#portal-languageselector {
    float: right;
    background: #e3e3e3;
    position: relative;
    top: 0;
    right: 1px;
    z-index: 3; /* */
    padding: 0.25em 0.5em;
    font-size: 80%;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    -moz-border-radius-bottomleft: 0.5em;
    -moz-border-radius-bottomright: 0.5em;
    max-width: 50%;
}
#portal-searchbox {
    float: right;
    text-align: left;
    clear: right;
    margin: 1.2em 0;
    font-size: 80%;
}
#portal-searchbox form {
    white-space: nowrap;
}
#portal-searchbox label {
    font-weight: normal;
}
#searchGadget {
    width: 13em;
}
#searchGadget,
.LSBox input.searchButton {
}
.LSBox .searchSection {
}
#content input.searchField {
    margin-bottom: 1em;
}
input.searchField {
    -moz-appearance: searchfield;
}
/* */
.collapsible .collapser.collapsed {
    padding-right: 14px;
    background: url('arrowRight.png') center right no-repeat;
}
.collapsible .collapser.expanded {
    padding-right: 14px;
    background: url('arrowDown.png') center right no-repeat;
}
/* */
/* */
#LSResult {
    position: absolute;
    right: 0;
    background: White;
    margin: -1.5em 0 0 -7em;
}
#LSResult fieldset {
    padding: 1em 0 0;
    border: 0.1em solid #ccc;
}
#livesearchLegend {
    background-color:#ccc;
    padding:0.3em;
}
#LSResult .LSDescr {
    font-size: 85%;
    color: #666;
}
.LSRow,
#LSNothingFound {
    display: block;
    padding: 0.5em 1em;
    white-space: normal;
    width:28em;
}
.LSHighlight {
    background: #ddd;
}
/* */
/* */
#portal-breadcrumbs {
    font-size: 80%;
    margin-bottom: 1em;
    margin-left: 0.25em;
}
#portal-breadcrumbs a {
    border-bottom: none;
    display: inline-block;
}
/* */
/* */
#portal-siteactions {
    font-size: 85%;
    padding-bottom: 2em;
    text-align: center;
    clear: left;
}
#portal-siteactions li {
    margin-right: 0.5em;
}
#portal-siteactions li a:hover {
    color: #75ad0a
}
/* */
/* */
a.link-parent {
}
a.link-anchor {
    border: none !important;
    color: Black !important;
    cursor: default !important;
}
#content a.link-overlay {
    border-bottom: 1px dotted #205c90 !important;
}
dl dt .documentByLine {
    font-weight: normal;
}
dl dt span.summary a {
    border: none !important;
}
/* */
/* */
dl.portlet {
    margin: 0 0 1em;
    font-size: 80%;
}
dl.portletError {
    background-color: #FFA500;
}
dl.portlet dt,
div.portletAssignments div.portletHeader {
    padding: 0.42em 1em;
    background: #ddd;
    line-height: normal;
}
dl.portlet dt.hiddenStructure {
    padding: 0;
}
div.portletAssignments {
    font-size: 0.8em;
    line-height: 2em;
}
div.portletAssignments .managedPortletActions {
    float: right;
}
div.portletAssignments .managedPortletActions a {
    margin: 0 0.25em;
    border: none;
}
dl.portlet dt a:link,
dl.portlet dt a:visited,
dl.portlet dt a:hover {
    color: black;
    display: block;
    border: none;
}
dl.portlet dd.portletItem,
dl.portlet dd.portletFooter,
dl.portletError dd {
    padding: 1em;
}
div.managePortletsLink,
a.managePortletsFallback {
    text-align: center;
    padding: 0.25em 0.5em;
    font-size: 80%;
    margin: 0 auto 1em;
    background: #ddd;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
}
a.managePortletsFallback {
    display:inline-block; /* */
}
#content a.managePortletsFallback {
    display: block;
    border-bottom: none !important;
}
#portlet-prefs a {
    border: none;
    line-height: 2em;
}
#visual-portal-wrapper dl.portletCalendar dd {
    padding: 0;
}
#dashboard-portlets1,
#dashboard-portlets2,
#dashboard-portlets3,
#dashboard-portlets4 {
    display: inline-block;
}
/* */
/* */
dl.portlet ul.navTree li a {
    border: none;
    display: block;
    zoom: 1;
}
dl.portlet ul.navTree li a:hover {
}
dl.portletNavigationTree dd.portletItem {
    padding: 0;
}
dl.portlet ul.navTreeLevel0 > .navTreeItem {
    padding: 0.25em 1em;
    border-bottom: 0.1em dotted #ddd;
    line-height: 2em;
}
dl.portlet ul.navTreeLevel1 .navTreeItem {
    padding-left: 0.5em;
    line-height: 2em;
}
dl.portlet ul.navTree .navTreeCurrentItem {
    background-color: #ddd;
    border-left: 1em solid #ddd;
    margin-left: -1em;
    margin-right: -1em;
}
/* */
/* */
#content {
    line-height: 1.5em;
    clear: both;
    font-size: 80%;
    margin: 1em 0.25em 2em 0.25em;
}
/* */
body#content {
    margin: 1em;
}
#content h1 {
    margin-top: 0.5em;
}
#content h1.documentFirstHeading {
    margin-top: 0;
}
#content p,
#content table,
#content dl,
dl.portlet p,
dl.portlet {
    margin-bottom: 1em;
}
#content ul,
#content ol {
}
#content a:link,
dl.portlet a:link {
    color: #205c90;
    border-bottom: 0.1em solid #ccc;
}
#content a:visited,
dl.portlet a:visited {
    color: #427597;
    border-bottom: 0.1em solid #ccc;
}
#content a:hover,
dl.portlet a:hover {
    color: #75ad0a !important; /* */
}
#content a:target {
    background-color: #ffb;
}
#content span.link-external a {
    background: transparent url(link_icon.png) 0px 1px no-repeat;
    padding: 1px 0px 1px 16px;
}
#category {
    font-size: 75%;
    margin-bottom: 1em;
    color: #666;
    text-align: right;
}
#category a.link-category, span.selectedTag {
    color: black;
    padding: 0.25em 0.5em;
    background: #ddd;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
}
#category a.link-category:hover {
    background: #205c90;
    color: White;
    border-color: #205c90;
}
#category .separator {
    display: none;
}
#content ul {
    list-style-type: disc;
    margin-left: 2em;
}
#content ol,
dl.portlet ol {
    list-style-type: decimal;
    margin-left: 2em;
}
#content li,
dl.portlet li {
    margin-bottom: 0.25em;
    line-height: 1.5em;
    display: list-item;
}
#content dt {
    font-weight: bold;
    margin-bottom: 0;
    margin-right: 0;
}
#content dd {
    margin: 0 0 1em 2em;
}
#content pre {
    background-color: #222;
    color: White;
    font-family: Consolas, Inconsolata, Menlo, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
    padding: 1em;
    overflow-x: auto;
    font-size: 90%;
    margin-bottom: 1em;
    line-height: 1.25em;
}
#content pre.python {
    background-color: White;
}
#content code {
    font-family: Consolas, Inconsolata, Menlo, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}
#content div.documentByLine {
    font-size: 85%;
    display: block;
    color: #666;
}
#content .discreet,
#sidebar .discreet {
    color: #666;
    font-size: 85%;
    font-weight: normal;
}
#content .visualHighlight {
    background-color: #ffb;
}
#content .pullquote {
    margin: 0 1em 0.5em 0.5em;
    font-weight: bold;
    line-height: 1.25em;
    float: right;
    width: 35%;
    clear: right;
    color: #444;
    font-size: 1.6em;
    letter-spacing: -0.08em !important;
}
#content .callout {
    background: #eee;
    padding: 1em;
    border-left: 1em solid #ccc;
    clear: both;
}
#content table {
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0px;
}
#content .documentDescription,
#content #description {
    color: #666;
    margin-left: 0;
    font: bold 1.25em "Helvetica Neue", Arial, FreeSans, sans-serif;
}
#content img.tileImage,
#content div.newsImageContainer {
    float: right;
    margin: 0 1em 0.5em 1em;
}
#content div.newsImageContainer a {
    border-bottom: none;
}
#content div.newsImageContainer p.discreet {
    margin: 0;
    padding: 0.5em;
    background-color: #666;
    background-color: rgba(40,40,40,0.7);
    color: White;
    font-weight: bold;
    position: relative;
    width: 190px;
    top: -3em;
}
.eventDetails {
    float: right;
    clear: right;
    margin: 0 0 0.5em 1em;
}
/* */
/* */
table.listing,
table.plain {
    border-spacing: 0;
    border-collapse: collapse;
}
table.invisible td,
table.invisible th,
table.plain td,
table.plain th,
table.listing td,
table.listing th {
    padding: 0.5em 1em;
    vertical-align: top;
}
table.plain th,
table.plain td {
    border: 1px solid #ddd;
}
table.listing td.listingCheckbox,
table.listing th.listingCheckbox {
    text-align: center;
}
table.listing {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
table.listing .top {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
table.listing th {
    text-align: left;
    color: #666;
    border: 0.1em solid #e7e7e7;
    border-style: solid solid none;
    background: #ddd;
}
table.listing tr.odd th {
    border: 0.1em solid #fff;
    border-style: solid solid none none;
}
table.listing tbody th {
    font-weight: bold;
}
table.listing tbody tr {
    text-align:left;
}
table.listing tbody tr.odd {
    background: #eee;
}
table.listing tbody tr td {
    background: transparent;
}
table.listing tbody tr.odd td {
    background: #eee;
}
table.listing td {
    border-right: 1px solid #ddd;
}
table.listing a {
    border: none;
    display: inline-block;
    border-bottom: none !important;
}
table.listing td.draggable {
    text-shadow: White 1px 1px 1px;
    background: #ddd !important;
    border-bottom: 1px solid white;
    padding: 0.4em 0.4em 0 0.5em;
}
/* */
table.vertical {
}
table.vertical th {
    text-align: right;
}
table.vertical td {
    border-top: 0.1em solid #e7e7e7;
    padding: 0.5em;
}
/* */
table.grid td,
table.grid th {
    border: 1px solid #e7e7e7;
    padding: 0.5em;
}
.dragindicator {
    outline: 2px solid #FFD700;
}
#foldercontents-order-column {
    padding: 0;
}
div.listingBar {
    font-size: 80%;
    margin: 1em 0;
}
div.listingBar .next {
    display: inline-block;
    float: right;
}
div.listingBar .previous {
    display: inline-block;
}
div.listingBar a {
    display: inline-block;
    padding: 0.25em 0.5em;
    border: 0.1em solid #ccc;
}
div.listingBar a:hover {
    color: White;
    background-color: #329fd7;
    border-color: #329fd7;
}
/* */
/* */
dl.portalMessage {
    margin: 1em 0;
    font-size: 80%;
    border: 1px solid #996;
    background-color: #ffffe3;
    clear:both;
}
dl.portalMessage a,
#content dl.portalMessage a {
    color: black;
    border-bottom: 1px solid #888;
}
dl.portalMessage dt {
    background-color: #996;
    font-weight: bold;
    float: left;
    margin: 0 0.5em 0 0;
    padding: 0.5em 0.75em;
    color: White;
    line-height: 1.25em;
}
dl.portalMessage dd {
    padding: 0.5em 0.5em;
    margin: 0;
    line-height: 1.25em;
}
dl.warning {
    border-color: #d80;
}
dl.warning dt {
    background-color: #d80;
}
dl.error {
    border-color: #d00;
}
dl.error dt {
    background-color: #d00;
}
dl.warning {
    border-color: #d80;
}
dl.warning dd {
    background-color: #fd7;
}
dl.error {
    border-color: red;
}
dl.error dd {
    background-color: #fdc;
}
/* */
#content dl.portalMessage {
    font-size: 100%;
}
#content dl.portalMessage dt {
    margin: 0 0.5em 0 0;
    padding: 0.5em 0.75em;
}
#content dl.portalMessage dd {
    margin: 0;
}
/* */
/* */
/* */
/* */
#content ul.formTabs {
    background-color: #ddd;
    border: 0.3em solid #ddd;
}
#edit-bar {
    background-color: #75ad0a;
    border: 0.25em solid #75ad0a;
    font-size: 80%;
    min-height: 2em;
    margin-bottom: 1em;
    padding-top: 0.05em;
}
#content-views {
    float: left;
    background-color: #75ad0a;
}
#content-views a {
    color: White;
}
/* */
#edit-bar,
#content ul.formTabs {
    display: block;
    border-style: solid solid none solid;
    margin-left: 0;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
    -moz-border-radius-topleft: 0.5em;
    -moz-border-radius-topright: 0.5em;
}
#content li.formTab {
    display: inline;
    margin-right:0.25em;
}
#content-views a,
#content li.formTab a {
    /* */
    display: inline-block;
}
#content-views a,
#content li.formTab a {
    line-height: 2em;
    padding: 0 0.75em;
    text-decoration: none;
    border: none;
    margin: 0 ;
}
#content-views li.selected a,
#content li.formTab a.selected {
    font-weight: bold;
}
#content-views li.selected a,
#content-views li a:hover,
#content li.formTab a.selected,
#content li.formTab a:hover {
    background: White;
    color: Black;
}
#content-views li.selected a,
#content-views li a:hover,
#content li.formTab a.selected,
#content li.formTab a:hover {
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
    -moz-border-radius-topleft: 0.5em;
    -moz-border-radius-topright: 0.5em;
}
#content li.formTab a.notify {
    background-color: red;
    color: White;
}
#content li.formTab a.required span {
    background-image: url(required.png);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 1em;
}
#content fieldset.formPanel {
    border: none;
}
#content fieldset.formPanel.hidden {
    display: none;
}
#content div.formControls input.hidden {
    display: none;
}
/* */
/* */
/* */
#portal-personaltools dl {
}
#portal-personaltools dt {
    font-weight: normal;
}
#portal-personaltools dt.actionMenuHeader a:after {
    content: " ▼";
}
#portal-personaltools dd {
    right: 0;
    padding-top: 0.5em;
}
#portal-personaltools dd {
    background: #e3e3e3;
    padding-bottom: 0.5em;
}
#portal-personaltools dd a {
    line-height: 2em;
    padding: 0 0.75em;
}
#portal-personaltools dd a:hover {
    background: #205c90;
    color: White;
}
/* */
/* */
#contentActionMenus dl.actionMenu a,
#contentActionMenus dl.actionMenu.activated dd {
    background-color: #75ad0a;
    color: White;
    z-index: 5;
}
#contentActionMenus dl.actionMenu.activated dd {
    border-bottom: 0.5em solid #75ad0a;
    right: -3px;
}
#contentActionMenus dl.actionMenu.activated dd a:hover,
#contentActionMenus dl.actionMenu.activated dd .actionMenuSelected {
    background-color: White !important;
    color: #666;
}
#contentActionMenus dl.actionMenu {
    line-height: 2em;
}
#folderHeader, #contextHeader {
    border-bottom: 2px solid white;
}
#contextHeader { margin-top: 5px; }
/* */
#contentActionMenus {
    float: right;
    background: #75ad0a;
    margin: 0;
    position: relative;
    top: -0.23em;
    right:-0.24em;
    padding: 0.1em 0.24em 0 0;
    border-radius: 0.5em;
    border-top-left-radius: 0;
    -webkit-border-radius: 0.5em;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 0.5em;
    -moz-border-radius-topleft: 0;
}
.actionMenuContent {
    padding: 0 0.25em;
}
dl.actionMenu {
    float: right;
    white-space: nowrap;
    position: relative;
    margin-left: 0.5em;
}
dl.actionMenu a,
dl.actionMenu div {
    display: block !important;
    white-space: nowrap;
}
dl.actionMenu dt {
    font-weight: normal;
}
span.arrowDownAlternative {
    font-size: 80%;
}
dl.actionMenu.deactivated dt {
    margin: 0 0.25em;
}
dl.actionMenu.deactivated dd {
    display: none;
}
dl.actionMenu.activated dd {
    position: absolute;
    width: auto;
    min-width: 100%;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    -moz-border-radius-bottomleft: 0.5em;
    -moz-border-radius-bottomright: 0.5em;
}
dl.actionMenu.activated dt a,
dl.actionMenu.activated dd a,
dl.actionMenu.activated dd div {
    margin: 0 0.25em;
}
/* */
/* */
#setup-link {
    font-size: 90%;
}
#content ul.configlets {
    margin: 1em 0;
    list-style-image: none;
    list-style: none;
}
#content ul.configlets li {
    margin-bottom: 1em;
    list-style: none;
    display: block;
}
#content ul.configlets li a {
    text-decoration: none;
    border: none;
}
#content ul.configlets li a:visited {
    color: #436976;
    background-color: transparent;
}
#content ul.configlets li a:active {
    color: #436976;
    background-color: transparent;
}
#content ul.configlets li label {
    font-weight: bold;
}
#content ul.configletDetails {
    margin: 0em 1em 1em 4em;
    list-style-image: none;
    list-style: none;
}
#content ul.configletDetails li {
    margin-bottom: 1em;
    display: inline;
}
#content ul.configletDetails li a {
    text-decoration: none;
}
#content ul.configletDetails li label {
    font-weight: bold;
}
#content ul.configletDetails li.configletDescription {
    display: block;
    color: #76797c;
    margin: 0;
}
.inlineDisplay {
    display:inline
}
table.controlpanel-listing {
    width:100%;
}
table.controlpanel-listing td, table.controlpanel-listing th {
    font-size:120%;
}
table.controlpanel-listing dl {
    margin-top:0;
}
table.controlpanel-listing dd {
    margin-left: 1em;
}
table.controlpanel-listing dl dt a .trigger{
    font-weight:normal;
}
table .controlpanel-listing td {
    vertical-align:top;
}
table.controlpanel-listing td.checker{
    text-align:center;
}
table.controlpanel-listing th.smallcolumn {
    width:1.5em;
}
.chooser-right {
    float:right;
    margin-right:0;
    margin-bottom:0;
}
.rule-element {
    background-color:#EEF3F5;
    margin:0.5em 0pt 0.5em;
    padding:0.3em 1em 0.3em 1em;
    width:auto;
}
.rule-element dl {
}
.rule-element dl dd {
    margin-left:1em;
}
.rule-updown, .rule-operations {
    float:right;
    padding-top:0.8em;
}
/* */
/* */
dl.collapsible {
    border: 0.1em solid #8cacbb;
    margin: 1em 0;
    padding: 0;
}
dl.collapsible dt.collapsibleHeader {
    display: block;
    float: left;
    background: White;
    line-height: 1.2em;
    vertical-align: middle;
    font-size: 90%;
    position: relative;
    top: -0.6em;
    width: auto;
    margin: 0 0 -0.6em 1em;
    padding: 0 0.5em;
}
dl.collapsible dd.collapsibleContent {
    margin: 0;
    padding: 0 1em 0.4em;
    clear: left;
}
/* */
dl.collapsible dd.collapsibleContent > dl {
    margin: 0;
    padding: 0;
}
dl.expandedInlineCollapsible dt.collapsibleHeader,
dl.expandedBlockCollapsible dt.collapsibleHeader {
    padding: 0 0.5em 0 2em;
    background: White url(treeExpanded.png) no-repeat 0.5em 50%;
    cursor: pointer;
}
dl.collapsedBlockCollapsible {
    border: none;
    height: 1em;
    width: auto;
}
dl.collapsedInlineCollapsible dt.collapsibleHeader,
dl.collapsedBlockCollapsible dt.collapsibleHeader {
    float: none;
    position: relative;
    margin: 0 0 0 1em;
    padding: 0 0.5em 0 2em;
    line-height: 1.2em;
    cursor: pointer;
    background: White url(treeCollapsed.png) no-repeat 0.5em 50%;
}
dl.collapsedInlineCollapsible dd.collapsibleContent,
dl.collapsedBlockCollapsible dd.collapsibleContent {
    display: none;
}
dl.collapsedInlineCollapsible {
    border: none;
    height: 1em;
    width: auto;
    display: inline;
}
dl.collapsedInlineCollapsible dt.collapsibleHeader {
    position: static;
    float: none;
    margin: 0;
    padding: 0 0 0 2em;
    line-height: 1em;
    cursor: pointer;
    display: inline;
}
/* */
/* */
.comment {
    margin-top: 1.5em;
    font-size: 80%;
}
.comment .documentByLine {
    margin-left: 1em;
}
.comment .formControls {
    margin-left: 0;
}
.commentTime {
    color: #666;
}
.commentBody {
    padding: 1em;
    margin: 0.5em 0;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    box-shadow: 0 0 1em 0 #888;
    -moz-box-shadow: 0 0 0.5em 0 #888;
    -webkit-box-shadow: 0 0 0.5em #888;
}
.comment h1,
.comment h2,
.comment h3,
.comment h4,
.comment h5,
.comment h6 {
    font-weight: normal;
}
/* */
.reviewHistory,
.contentHistory {
    display: inline;
    color: Black;
}
.spacer {
    margin: 1em;
}
.label {
    font-weight: bold;
    display: inline;
    padding-right: 0.5em;
}
.optionsToggle {
    border: 0.1em solid #8cacbb;
    color: Black;
    background-color: #dee7ec;
    font-weight: normal;
    font-size: 90%;
}
/* */
.highlightedSearchTerm {
    background-color: #ffa;
}
dl.searchResults .highlightedSearchTerm {
    background-color: transparent;
    font-weight: bold;
}
/* */
.noInheritedRoles {
    color: #a0a0a0;
}
/* */
.currentItem {
    border-collapse: collapse;
    border: 0.2em solid #ffa500;
    padding: 0.1em;
}
/* */
/* */
form.searchPage {
    text-align:center;
}
input.searchPage {
    font-size:200% !important;
}
/* */
/* */
.image-left {
    float: left;
    margin: 0.5em 1em 0.5em 0;
}
.image-right {
    float: right;
    margin: 0.5em;
}
.image-inline {
    float: none;
}
img.image-left,
img.image-right,
.captioned img {
    border: 1px solid #ddd;
}
dd.image-caption {
    text-align: left;
    padding: 0 0 0 3px; /**/
    margin: 0;
    color: #666;
    font-size: 85%;
}
/* */
/* */
#dashboard-actions ul,
#dashboard-actions ul li {
    list-style: none;
}
#dashboard-actions ul {
    margin-left: 0;
}
#dashboard {
    font-size: 125%;
    line-height: 1em;
}
#dashboard dd {
    margin: 0;
}
#dashboard dl.portlet a:link {
    border-bottom: none;
}
#dashboard-portlets1,
#dashboard-portlets2,
#dashboard-portlets3 {
    float:left;
    width:23%;
    padding:0.7em 1.3em 0 0;
}
#dashboard-portlets4 {
    float:left;
    width:23%;
    padding-top:0.7em;
}
#dashboard-portlets1 dl.portlet,
#dashboard-portlets2 dl.portlet,
#dashboard-portlets3 dl.portlet,
#dashboard-portlets4 dl.portlet {
    margin-bottom:1.5em;
}
/* */
/* */
fieldset,
.editionComment {
    line-height:1.5em;
    margin:1em 0;
    padding:0 1em 1em;
    width:auto;
}
/* */
#content .field input[type="text"][name$=".title"],
#archetypes-fieldname-title input {
    font-family: "Helvetica Neue", Arial, FreeSans, sans-serif;
    line-height: 125%;
    color: Black;
    letter-spacing: -0.05em;
    margin: inherit -0.05em;
    font-size: 2em; /* */
    font-weight: bold;
}
/* */
#content .field textarea[name$=".description"],
#archetypes-fieldname-description textarea#description {
    font-family: Arial,FreeSans,sans-serif;
    color:#666666;
    font-size:1.25em;
    font-weight: bold;
}
div.formControls {
    margin: 1em;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
    background-color: #ffffe0;
}
#content textarea {
    font: 100% Monaco, "Courier New", Courier, monospace;
    width: 100%;
}
#content select {
    vertical-align: top;
}
#content fieldset {
    border: 0.1em solid #329fd7;
    border-style: solid none none none;
}
#content legend {
    padding: 0.5em;
    font-size: 85%;
}
label {
    font-weight:bold;
}
#content label {
}
#content optgroup {
    font-style: normal;
    font-weight: bold;
    color: #999;
    padding-left: 0.25em;
}
#content option {
    color: black;
}
#content optgroup > option {
    padding: 0 0.25em 0 1em;
}
dl.enableFormTabbing dd {
    margin-left: 0;
    padding-top: 2em;
}
.searchSection {
    color: #76797c;
    margin-top: 0.25em;
}
.searchSection label:hover {
    color: Black;
}
.field {
    clear: both;
    margin-bottom: 1em;
}
.field input[type="text"] {
    width: 20em;
}
.field input[type="text"][size] {
    width: auto;
}
.field input[type="text"][name$=".title"],
input#title {
    width: 100%;
}
.field.error input[type="text"][name$=".title"],
.error input#title {
    width: 99%;
}
.fieldRequired {
    background: url(required.png) center left no-repeat;
    padding: 0 0 0 1em;
    color: White;
}
.fieldUploadFile {
    text-align: right;
    margin-right: 0.75em;
    display: none;
}
.fieldTextFormat {
    text-align: right;
    margin-right: 0.75em
}
.formHelp {
    color: #555;
    margin: 0 0 0.2em 0;
}
div.field.error {
    background-color: #fdc;
    border:  1px solid red;
    padding: 0.5em;
    margin:  1em 0;
}
.error .fieldRequired {
    color: #d00;
}
div.error.warning {
    background-color: transparent;
    border: none;
    margin-top: 0;
    padding: 0;
}
div.error.warning input {
    border: 2px solid red;
}
input.inputLabelActive {
    color: #76797c;
}
textarea#form\.description {
    height: 6em;
    width: 99%;
}
table.listing tbody tr.odd.selected td,
table.listing tbody tr.odd.dragging td,
tr.dragging,
tr.selected {
    background-color: #ffa;
}
table.listing tbody tr.odd.error td,
tr.error {
    background-color: #fdc;
}
.multi-widget-field {
    padding-left: 0.5em;
    border-left: 1.5em solid #DDD;
}
.multi-widget-checkbox {
    margin-left: -2em;
    margin-right: 0.5em;
    width: 1.5em;
    display: inline-block;
}
/* */
body.template-logged_out #content,
body.template-login_form #content,
.pb-ajax #login-form {
    text-align: center;
}
#fieldset-openid-login input, #login-form input {
    font-size: 150%;
}
body.template-register #content input,
body.template-new-user #content input {
    font-size: 150%;
    width: inherit;
}
#fieldset-openid-login label, #login-form label {
    margin-right:0.5em;
    padding-top:0.2em;
    text-align:right;
    width: 10em;
    display: inline-block;
}
#fieldset-openid-login .formControls input, #login-form .formControls input {
    margin-left: 0.25em;
}
/* */
/* */
/* */
dl.toc {
    float: right;
    width: 35%;
    font-size: 100%;
    margin: 1em 0 0.5em 1.5em;
}
dl.toc dt {
    margin-left: 1em;
    font-weight: normal;
    text-transform: uppercase;
}
dl.toc dd {
    margin-bottom: 0;
    padding-left: 2em;
}
dl.toc dd ol {
    margin-left: 1.5em;
}
/* */
/* */
#portal-footer {
    font-size: 75%;
    background: #ddd;
    padding: 1em;
    margin: 1em 0;
    line-height: 2em;
}
#portal-colophon {
    font-size: 70%;
    text-align: center;
    margin-bottom: 1em;
}
#portal-colophon li {
    padding:0 0.75em;
}
#portal-colophon a {
    color: #444;
}
/* */
/* */
#portal-sitemap {
    list-style: none;
    margin-left: 0;
    font-size: 130%;
    font-weight: bold;
}
#portal-sitemap li {
    list-style: none;
    margin-left: 0;
}
#portal-sitemap a {
    border-bottom: none;
    display: block;
}
#portal-sitemap > li {
    border-bottom:0.1em dotted #ddd;
    line-height:1.8em;
    padding:0.25em 1em;
    margin-bottom: 0;
}
#portal-sitemap .navTreeLevel2,
#portal-sitemap .navTreeLevel2 ul {
    font-size: 85%;
    font-weight: normal;
    margin-bottom: 0;
    padding: 0.25em 0;
}
/* */
/* */
.photoAlbumEntry {
    float: left;
    position:relative;
    overflow: hidden;
    height: 185px;
    width: 143px;
    margin: 0em;
    padding: 0px 6px 0px 9px;
    text-align: center;
    background-image: url('polaroid-single.png');
    background-repeat: no-repeat;
}
.photoAlbumEntry img {
    border: 1px solid #ccc;
    display: block;
    margin: 0 auto;
}
.photoAlbumEntryWrapper {
    height: 130px;
    width: 128px;
    margin-bottom: 7px;
}
.photoAlbumEntry a {
    display: block;
    text-decoration: none;
    font-size: 90%;
    height: 169px;
    width: 130px;
    margin: 16px auto 0px;
}
.photoAlbumFolder {
    background-image: url('polaroid-multi.png');
    background-repeat: no-repeat;
}
.photoAlbumEntryTitle {
    color: #76797c;
    display: block;
    width: 128px;
    height: 3.6em;
}
/* */
/* */
.hiddenStructure {
    display: block;
    background: transparent;
    background-image: none; /* */
    border: none;
    height: 0.1em;
    overflow: hidden;
    padding: 0;
    margin: -0.1em 0 0 -0.1em;
    width: 1px;
}
#content .visualNoMarker {
    list-style:none;
    margin-left: 0;
}
.visualClear {
    clear: both;
}
/* */
/* */
body.largeText { font-size: 125%; }
body.smallText { font-size: 85%; }
/* */
/* */
/* */
div.overlay {
    width: auto;
    height: auto;
    /* */
    display: none;
    /* */
    margin: 1em;
    font-size: 80%;
}
div.overlay-iframe,
div.overlay-ajax {
    width: 60%;
    min-height: 100px;
    z-index: 99; /* */
}
div.overlay-iframe {
    height: 60%;
}
/* */
div.overlaybg div.close,
div.overlay div.close {
    background-image: url(pb_close.png);
    position: absolute;
    left: -14px;
    top: -14px;
    cursor: pointer;
    height: 30px;
    width: 30px;
}
.pb-ajax {
    overflow-y: auto;
}
.pb-ajax, .pb-image, .overlay iframe {
    background-color: #fff;
    border: 1px solid #999;
    white-space: normal;
    box-shadow: 0 0 3em 0.5em #666;
    -moz-box-shadow: 0 0 3em 0.5em #666;
    -webkit-box-shadow: 0 0 3em #666;
}
.pb-ajax > div {
    width: 92%;
    padding: 1em;
}
.pb-ajax .documentActions {display:none}
div.overlay div.close span {
    display: block;
    height: 1px;
    margin: -1px 0 0 -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
}
div.overlay textarea { width: 100%; }
/* */
div.overlay .link-parent { display: none; }
div.overlay #createGroup legend { display: none; }
div.overlay #createGroup fieldset { border: none; }
/* */
div.overlay p {
    margin-bottom: 1em;
}
div.overlay label {
    margin-bottom: 0.25em;
}
div.overlay a:hover {
    color: #75ad0a;
}
div.overlay a.selected {
    color: #000000;
}
div.overlay .formTab {
    margin-right:1em;
    font-weight: bold;
}
div.overlay .formTab.lastFormTab {
    margin-right:0em;
}
div.overlay .formControls a {
    display: block;
    margin: 0.75em;
}
/* */
/* */
#content-history #history dd {
}
#content-history div.historyRecord {
    margin-bottom: 1em;
}
#content-history div.historyTools ul {
    float: right;
    margin: 0.5em 1em;
}
#content-history div.historyTools ul li {
    display: inline;
    padding: 0 0.015em;
}
#content-history div.historyTools ul li a{
    border-bottom: none;
}
#content-history div.historyTools form {
    display: inline;
}
#content-history .historyAction {
}
#content-history .historyByLine {
    background: #ddd;
    padding: 0.5em;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
    -moz-border-radius-topleft: 0.5em;
    -moz-border-radius-topright: 0.5em;
}
#content-history div.historyLinks {
    float: right;
    clear: right;
    margin: 0.5em 1em 0 0;
}
#content-history div.historyComment {
    padding: 0.5em 1em;
    border: 1px solid #ddd;
}
#content-history div.historyComment p {
    margin: 0;
    padding-top: 1px;
}
#content-history a.historyComparePrevious {
    border-top: 1px dotted #ccc;
    display: block;
    margin-top: 3em;
    text-align: center;
}
#content-history a.historyComparePrevious span {
    background-color: white;
    position: relative;
    top: -0.75em;
    padding: 0 0.5em;
}
/* */
/* */
.icons-on .contenttype-document {
    background: no-repeat transparent 0px 4px url(contenttypes-sprite.png);
}
.icons-on .contenttype-event {
    background: no-repeat transparent 0px -212px url(contenttypes-sprite.png);
}
.icons-on .contenttype-folder {
    background: no-repeat transparent 0px -644px url(contenttypes-sprite.png);
}
.icons-on .contenttype-link {
    background: no-repeat transparent 0px -1076px url(contenttypes-sprite.png);
}
.icons-on .contenttype-news-item {
    background: no-repeat transparent 0px -1292px url(contenttypes-sprite.png);
}
.icons-on .contenttype-plone-site {
    background: no-repeat transparent 0px -1508px url(contenttypes-sprite.png);
}
.icons-on .contenttype-topic {
    background: no-repeat transparent 0px -1724px url(contenttypes-sprite.png);
}
/* */
.icons-on #plone-contentmenu-factories .contenttype-file {
    background: no-repeat transparent 0px -428px url(contenttypes-sprite.png);
}
.icons-on #plone-contentmenu-factories .contenttype-image {
    background: no-repeat transparent 0px -860px url(contenttypes-sprite.png);
}
.icons-on .contenttype-document,
.icons-on .contenttype-event,
.icons-on .contenttype-folder,
.icons-on .contenttype-link,
.icons-on .contenttype-news-item,
.icons-on .contenttype-plone-site,
.icons-on .contenttype-topic,
.icons-on #plone-contentmenu-factories .contenttype-file,
.icons-on #plone-contentmenu-factories .contenttype-image {
    line-height: 2em;
    display: inline-block;
    *display: block;
    padding-left: 20px !important;
}
/* */
/* */
.optionsBox {
    overflow-y: auto;
    border: solid 1px #999999;
    background: #FFFFFF;
    height: 14em;
    width: 100%;
}
.optionsBox LABEL {
    padding: 2px 0 0 0;
    display: block;
    line-height: 1em;
    font-weight: normal;
}
.optionsBox input{
    vertical-align: middle;
    margin: 1px 4px 4px 6px;
}
.optionsBox LABEL.checked {
    background-color: #EEEEEE;
}
.optionsBox LABEL.hover {
    background-color: #777777;
    color: #FFFFFF;
}
#archetypes-fieldname-subject .formHelp {
    font-weight: normal;
}
#existingTagsSection {
    position: relative;
    margin-left: 3em;
}
#existingTags {
    float: left;
    width: 50%;
}
#content #existingTags dd {
    margin-bottom: 1px;
    margin-left: 0;
}
#content #selectedTags, #content #newTags {
    margin-bottom: 0;
    margin-left: 0;
}
#content #selectedTagsSection {
    margin-left: 3em;
    float: left;
    width: 43%;
    margin-bottom: 0;
}
#newTagsSection {
    width: 48%;
    margin-left: 3em;
}
#content p.selectedTag {
    margin-bottom: .4em;
}
#existingTagsTitle, #newTagsTitle {
    float: left;
}
#existingTagsHelp, #newTagsHelp {
    float: right;
}
#noTagsSelected, #oneOrMoreTagsSelected {
    display: none;
}
/* */

}


/* - columns.css - */
@media screen {
    /* http://verdata.cl/portal_css/columns.css?original=1 */
    div.row {
	float: left;
	width: 100%;
	display: block;
	position: relative;
    }
    div.cell {
	position: relative;
	float: left;
	left: 100%;
    }
    /* */
    div.width-1  { width:  4%    }
    div.width-2  { width: 10.25% }
    div.width-3  { width: 16.5%  }
    div.width-4  { width: 22.75% }
    div.width-5  { width: 29%    }
    div.width-6  { width: 35.25% }
    div.width-7  { width: 41.5%  }
    div.width-8  { width: 47.75% }
    div.width-9  { width: 54%    }
    div.width-10 { width: 60.25% }
    div.width-11 { width: 66.5%  }
    div.width-12 { width: 72.75% }
    div.width-13 { width: 79%    }
    div.width-14 { width: 85.25% }
    div.width-15 { width: 91.5%  }
    div.width-16 { width: 97.75% }
    /* */
    /* */
    div.position-0  { margin-left: -98.875% }
    div.position-1  { margin-left: -92.625% }
    div.position-2  { margin-left: -86.375% }
    div.position-3  { margin-left: -80.125% }
    div.position-4  { margin-left: -73.875% }
    div.position-5  { margin-left: -67.625% }
    div.position-6  { margin-left: -61.375% }
    div.position-7  { margin-left: -55.125% }
    div.position-8  { margin-left: -48.875% }
    div.position-9  { margin-left: -42.625% }
    div.position-10 { margin-left: -36.375% }
    div.position-11 { margin-left: -30.125% }
    div.position-12 { margin-left: -23.875% }
    div.position-13 { margin-left: -17.625% }
    div.position-14 { margin-left: -11.375% }
    div.position-15 { margin-left:  -5.125% }
    /* */
    /* */
    div.width-1\3a 2 { width:    47.75%; } /* */
    div.width-1\3a 4 { width:    22.75%; } /* */
    div.width-3\3a 4 { width:    72.75%; } /* */
    div.width-full   { width:    97.75%  }
    div.position-1\3a 4 {margin-left:    -73.875%;} /* */
    div.position-1\3a 2 {margin-left:    -48.875%;} /* */
    div.position-3\3a 4 {margin-left:    -23.875%;} /* */
    /* */
    div.width-1\3a 3 { width: 31.08%; } /* */
    div.width-2\3a 3 { width: 64.42%; } /* */
    div.position-1\3a 3 {margin-left: -65.545%;} /* */
    div.position-2\3a 3 {margin-left: -32.205%;} /* */

}


/* - portlets.css - */
@media screen {
    /* http://verdata.cl/portal_css/portlets.css?original=1 */
    .managedPortlet {
	margin: 0.8em 0;
    }
    .blockedPortlet .portletHeader {
	border: 1px dashed #ddd;
	margin: -1px;
	background: none !important;
    }
    .blockedPortlet .portletHeader a {
	color: #666;
    }
    .blockedPortlet .portletBlockedMessage {
	color: white;
	display: inline;
    }
    .portletCalendar {
	width: 100%;
	margin: 1px 0 1em 0;
    }
    .portletCalendar dt {
	background-color: #eee;
	font-weight: bold;
	text-align: center;
	line-height: 1.6em;
	border-bottom: none;
    }
    .portletCalendar dd {
	margin: 0;
	padding: 0;
    }
    .portletCalendar dt a#calendar-previous {
	float: left;
	padding: 0 1em;
	margin: 0 -.5em;
    }
    .portletCalendar dt a#calendar-next {
	float: right;
	padding: 0 1em;
	margin: 0 -.5em;
    }
    .portletCalendar a, .portletCalendar a:focus,
    .portletCalendar a, .portletCalendar a:hover {
	text-decoration: none;
    }
    .ploneCalendar {
	border-spacing: 0;
	width: 100%;
    }
    .ploneCalendar a {
	text-decoration: none;
	border-bottom: none !important;
    }
    .ploneCalendar td {
	background-color: transparent;
	width: 14%;
	text-align: center;
	padding: 2px;
    }
    .ploneCalendar .weekdays th {
	background-color: #eee;
	text-align: center;
	padding: 2px;
	font-weight: normal;
    }
    .ploneCalendar .event {
	background-color: #eee;
	font-weight: bold;
    }
    .ploneCalendar .todayevent {
	background-color: #eee;
	border: 2px solid #205C90;
	font-weight: bold;
    }
    .ploneCalendar .todaynoevent {
	border: 2px solid #205C90;
    }
    .portletItemDetails {
	font-size: 85%;
	padding-top: .5em;
	line-height: 1.5em;
	margin-left: 1em;
	display: block;
    }

}


/* - ++resource++plone.app.discussion.stylesheets/discussion.css - */
@media screen {
    /* http://verdata.cl/portal_css/++resource++plone.app.discussion.stylesheets/discussion.css?original=1 */
    /* */
    .discussion .hide {
	display: none;
    }
    /* */
    .discussion,
    #commenting {
	/* */
	clear: both;
    }
    .comment {
    }
    .commentImage {
	float: left;
	margin-right: 0.5em;
	height: 3.5em;
    }
    .commentImage a:link {
	/* */
	border: 0px;
    }
    .commentImage img {
    }
    .commentDate {
	display: block;
	font-size: 85%;
	line-height: 1.5em;
	padding-top: 0.5em;
	color: #76797C;
    }
    .commentBody {
	clear: both;
	margin: 1em 0;
	overflow: auto;
    }
    .commentBody p {
	float: left;
    }
    .discussion .documentByLine {
	float: left;
	margin-left: 0;
	margin-bottom: 0.5em;
    }
    .commentActions {
	float: right;
	text-align: right;
    }
    .discussion .discreet {
	color: #666666;
	font-size: 85%;
    }
    /* */
    .reply fieldset {
	/* */
	margin: 0 !important;
    }
    .reply .text-widget {
	display: block;
    }
    .reply-to-comment-button {
	display: none;
    }
    .cancelreplytocomment {
	display: none;
    }
    /* */
    #bulkactions {
	text-align: left;
    }
    #dobulkaction {
	margin: 0.3em 0;
    }
    .comment-publish-button {
	float: left;
	margin-right: 0.5em;
    }
    .comment-delete-button {
	float: left;
    }
    #review-comments {
	margin: 0;
    }
    #fieldset-moderate-comments {
	padding: 2em 1em;
    }
    /* */
    .template-discussion-settings .unclickable {
	opacity: 0.6;
	filter: alpha(opacity = 50);
    }
    /* */
    /* */
    .row #dobulkaction {
	margin: 0;
    }
    .row #commenting {
	font-size: 80%;
    }
    .row #commenting .formControls {
	margin: 0;
    }
    .row #commenting textarea,
    .row .discussion textarea {
	font: 100% Monaco, "Courier New", Courier, monospace;
	width: 100%;
    }
    .row #commenting fieldset,
    .row .discussion fieldset {
	border: 0.1em solid #329fd7;
	border-style: solid none none none;
    }
    .row #commenting legend,
    .row .discussion legend {
	padding: 0.5em 0.5em 0.5em 0;
	font-size: 85%;
    }
    .row #commenting label,
    .row .discussion label {
	font-weight:bold;
    }

}


/* - ploneKss.css - */
@media screen {
    /* http://verdata.cl/portal_css/ploneKss.css?original=1 */
    #kss-spinner {
	display:none;
	width: 20px;
	height: 20px;
	position: fixed;
	background-position: center center;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -10px;
    }
    .formlibInlineEditable,
    .inlineEditable {
	padding: 1px;
	display: block;
    }
    body.kssActive .inlineEditable:hover,
    body.kssActive .formlibInlineEditable:hover {
	padding: 0;
	border: 1px solid #ddd;
	border-color: #666 #ddd #ddd #666;
	cursor: text;
	background: White url(input_background.png) repeat-x;
    }
    body.kssActive .inlineEditable a:hover,
    body.kssActive .formlibInlineEditable a:hover {
	cursor: pointer;
    }
    body.kssActive .formlibInlineForm:hover,
    body.kssActive .formlibInlineForm a:hover {
	padding: 1px;
	border: none;
	cursor: default;
	background: none;
    }
    .inlineForm .formHelp,
    .inlineForm .fieldRequired,
    .inlineForm label {
	display: none;
    }
    /* */
    .inlineForm .ArchetypesSelectionWidget label {
	display: inline;
    }
    .inlineForm #archetypes-fieldname-title input,
    .inlineForm #archetypes-fieldname-title {
	font-size: 100%;
    }
    /* */
    h1 div.formControls input {
	font-size: 55% !important;
    }
}


/* - ++resource++tinymce.stylesheets/tinymce.css - */
@media screen {
    /* http://verdata.cl/portal_css/++resource++tinymce.stylesheets/tinymce.css?original=1 */
    #content ul.listTypeDisc {
	list-style-type: disc;
	list-style-image: none;
    }
    #content ul.listTypeSquare {
	list-style-type: square;
	list-style-image: none;
    }
    #content ul.listTypeCircle {
	list-style-type: circle;
	list-style-image: none;
    }
    #content ol.listTypeDecimal {
	list-style-type: decimal;
	list-style-image: none;
    }
    #content ol.listTypeLowerAlpha {
	list-style-type: lower-alpha;
	list-style-image: none;
    }
    #content ol.listTypeUpperAlpha {
	list-style-type: upper-alpha;
	list-style-image: none;
    }
    #content ol.listTypeLowerRoman {
	list-style-type: lower-roman;
	list-style-image: none;
    }
    #content ol.listTypeUpperRoman {
	list-style-type: upper-roman;
	list-style-image: none;
    }

}


/* - print.css - */
@media print {
    /* http://verdata.cl/portal_css/print.css?original=1 */
    /* */
    body {
	font-family: "Helvetica Neue", Arial, FreeSans, sans-serif;
    }
    h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", Arial, FreeSans, sans-serif;
	font-weight: bold;
	line-height: 125%;
	page-break-inside: avoid;
	page-break-after: avoid;
    }
    h1, h2 {
	letter-spacing: -0.05em;
    }
    a {
	text-decoration: none;
	border-bottom: 0.1em solid gray;
	color: black;
    }
    #portal-column-content {
	width: 95%;
    }
    .documentDescription {
	font-weight: bold;
    }
    pre {
	border: 1pt dotted black;
	white-space: pre;
	font-size: 8pt;
	overflow: auto;
	padding: 1em;
    }
    table.listing,
    table.listing td {
	border: 1pt solid black;
	border-collapse: collapse;
    }
    table.listing td,
    table.listing th {
	padding: 6px;
    }
    /* */
    div.pageBreak {
	page-break-before: always;
    }
    /* */
    #content dt {
	margin:1em 0 0.625em;
    }
    #content p, #content table {
	margin-bottom:0.625em;
	margin-top:0.625em;
    }
    #content .documentDescription, #content #description {
	margin:0.5em 0 1.31em;
    }
    /* */
    div.top,
    #portal-logo,
    #portal-siteactions,
    .hiddenStructure,
    #portal-searchbox,
    #portal-globalnav,
    #portal-personaltools,
    #portal-breadcrumbs,
    #edit-bar,
    #portal-column-one,
    #portal-column-two,
    #portal-languageselector,
    .contentViews,
    .contentActions,
    .help,
    .legend,
    .portalMessage,
    .documentActions,
    .netscape4,
    #viewlet-below-content .reply,
    #viewlet-below-content .discussion,
    #kss-spinner,
    #review-history,
    #content-history,
    .listingBar,
    #portal-footer,
    #portal-colophon,
    .skipnav,
    #kss-spinner,
    #review-history,
    #content-history,
    .listingBar,
    .link-presentation,
    input.standalone,
    .overlay,
    .managePortletsFallback,
    .close,
    .link-parent,
    .draggingHook,
    #foldercontents-order-column,
    input.context,
    .visualNoPrint {
	display: none;
    }
    /* */
    .image-left {
	float: left;
	clear: both;
	margin: 0.5em 1em 0.5em 0;
	border: 0.4pt solid Black;
    }
    .image-inline {
	float: none;
    }
    .image-right {
	float: right;
	clear: both;
	margin: 0.5em;
	border: 0.4pt solid Black;
    }
    dd.image-caption {
	text-align:left;
	padding: 0; margin:0;
    }
    dl.captioned {
	padding: 0.8em;
    }
    .newsImageContainer {
	float:right;
	margin: 0 0 0.5em 1em;
	width: 16em;
    }

}


/* - mobile.css - */
@media handheld, screen and (max-device-width: 480px) {
    /* http://verdata.cl/portal_css/mobile.css?original=1 */
    /* */
    #portal-column-one,
    #portal-column-two,
    #portal-column-content {
	clear: both;
	width: 97.75%;
	margin-left: -98.875%;
    }
    #portal-logo {
	display: none;
    }
    #portal-top {
	font-size: 180%;
    }
    #portal-personaltools {
	margin-bottom: 1em;
    }
    #portal-globalnav li a {
	min-width: 3em !important;
	padding:0.5em 1.5em 1em 0.5em;
    }
    #portal-searchbox {
	float: none !important;
	margin: 1em 0;
	text-align: center;
    }
    #portal-searchbox input {
	font-size: 100% !important;
    }
    #content-views a {
	font-size: 150%;
	line-height: 2em !important;
	padding: 0.5em;
    }
    #content li.formTab a {
	font-size: 140%;
	line-height: 2em !important;
	padding: 0.25em;
    }
    #edit-bar {
	min-height: 5em;
    }
    #contentActionMenus a {
	width: 100%;
	line-height: 2em !important;
	font-size: 150%;
    }
    input, textarea {
	font-size: 140% !important;
    }
    div.managePortletsLink,
    a.managePortletsFallback {
	font-size: 140%;
    }
    div.overlay {
	font-size: 120%;
    }
    div.overlay-iframe,
    div.overlay-ajax {
	width: 90%;
    }

}