/* -*- mode:css -*-
 * 
 * En este archivo es para poner el estilo del tema, que sobrescribirá base.css.
 */

/* #portal-glovalnav */

#portal-globalnav {
    clear: both;
    font-size: 90%;
    background: rgb(245,246,246);
    /* */
    margin: 0 0 1em 0;
    text-align: right;
    padding: 0 5%;
}
#portal-globalnav li {
}
#portal-globalnav li a {
    display: inline-block;
    padding: 0.4em 1em;
    background: rgb(245,246,246);
    min-width: 0;
    white-space: normal;
    border-right: none;
    color: rgb(98,98,98);
}
#portal-globalnav .selected a,
#portal-globalnav a:hover {
    background: rgb(238,238,238);
    color: rgb(98,98,98);
}
#portal-globalnav .selected a:hover {
    background: rgb(245,246,246);
    color: rgb(98,98,98);
}

/* #portal-nav-2 */

#portal-nav-2 {
    clear: both;
    font-size: 90%;
    background: rgb(245,246,246);
    /* */
    margin: 0 0 1em 0;
    text-align: left;
    padding: 0;
    border-bottom: 5px solid rgb(244,78,37);
}
#portal-nav-2 li {
}
#portal-nav-2 li a {
    display: inline-block;
    padding: 0.4em 1em;
    background: rgb(245,246,246);
    min-width: 0;
    white-space: normal;
    border-right: none;
    color: rgb(98,98,98);
}
#portal-nav-2 .selected a,
#portal-nav-2 a:hover {
    background: rgb(238,238,238);
    color: rgb(98,98,98);
}
#portal-nav-2 .selected a:hover {
    background: rgb(245,246,246);
    color: rgb(98,98,98);
}

/* #portal-logo */

#portal-logo {
    margin: 10px;
}

#portal-slogan {
    float: right;
    margin: 4em 4em 0em 0em;
    color: rgb(22,105,171);
}

#portal-footer {
    border-top: 5px solid rgb(244,78,37);
    background: white;
}
#portal-footer #logos-conicyt {
    height: 82px;
    background: url(../images/logos.jpg) no-repeat center;
}

/**/

dl.portlet dt,
div.portletAssignments div.portletHeader {
    padding: 0.42em 1em;
    background: rgb(245,246,246);
    line-height: normal;
}

#frontpage-row {
    /*background: rgb(219,219,219);*/
    background: rgb(238,238,238);
    margin-top: -1em;
    display: table;
    width: 100%;
}
#frontpage-slides {
    display: table;
    float: left;
    width: 75%;
}
#frontpage-slides > div.slide {
    position: absolute;
    top: -1em;
    left: 0;
}
#frontpage-slides > div.bg-slide {
    position: relative;
}
#frontpage-slides > div h3 {
    position: absolute;
    top: 1em;
    background: rgb(244,78,37);
    color: white;
    padding: 0.5em 1em;
}
#frontpage-slides > div > div {
    position: absolute;
    top: 8em;
    right: 5%;
    color: rgb(60,60,60);
    width: 25%;
    font-size: 10pt;
}
#frontpage-slides img {
    width: 100%;
    height: auto;
}
#frontpage-text {
    float: right;
    width: 25%;
    background: url(../images/propone.png) 1em 1em no-repeat;
    padding: 1em 0;
    font-size: 10pt;
}
#frontpage-text > div {
    padding: 0 1.5em;
}
#frontpage-text > div h2 {
    padding-left: 80px;
}
#frontpage-text > div p {
    margin: 1.5em 0;
}

.frontpage-section {
    height: 30em;
    width: 25%;
    float: left;
}
#frontpage-section-1 {
    border-top: 5px solid rgb(88,88,90);
}
#frontpage-section-2 {
    border-top: 5px solid rgb(244,78,37);
    background: rgb(245,246,246);
}
#frontpage-section-3 {
    border-top: 5px solid rgb(20,104,170);
}
#frontpage-section-4 {
    border-top: 5px solid rgb(146,44,131);
    background: rgb(245,246,246);
}
.frontpage-section > div {
    padding: 1em;
}

.frontpage-section > div > h2 {
    padding-left: 60px;
    height: 3.5em;
}

#frontpage-section-1 > div > h2 {
    background: url(../images/calendario.png) no-repeat;
}
#frontpage-section-2 > div > h2 {
    background: url(../images/destacados.png) no-repeat;
}
#frontpage-section-3 > div > h2 {
    background: url(../images/noticias.png) no-repeat;
}
#frontpage-section-4 > div > h2 {
    background: url(../images/opiniones.png) no-repeat;
}

#content .frontpage-section li {
    margin-bottom: 0.5em;
}
.frontpage-section .item-date {
    padding: 2px 4px;
    background: #aaa;
    color: white;
    font-family: monospace;
    border-radius: 4px;
}

.itemPadding img {
    width: 100%;
    height: auto;
}
.itemPadding h2 a {
    position: absolute;
    top: 2em;
    float: right;
    background: rgb(244,78,37);
    color: white;
    padding: 0.5em 1em;
    font-size: 15pt;
}
.itemPadding p.tileBody {
    position: absolute;
    top: 40%;
    width: 20em;
    color: white;
    padding: 0.5em 2em 1em 40em;
    font-size: 11pt;
    color: rgb(60,60,60);
}
.itemPadding p.tileFooter {
    position: absolute;
    top: 80%;
    width: 20em;
    color: white;
    padding: 0.5em 2em 1em 40em;
    font-size: 11pt;
    color: rgb(60,60,60);
}

#portal-column-content {
    border-top: 5px solid rgb(244,78,37);
}
#portal-column-two {
    border-top: 5px solid rgb(136, 44, 131);
}
.carousel {
    margin: -24px auto;
}

@media screen {
    div.width-1\3a 4 { width: 24.875%; } /* original is 22.75% */
    div.position-3\3a 4 {margin-left: -26%;} /* original is -23.875% */
}

#portal-header {
    margin-bottom: 1em;
}
